:root {
    --general-font-family: CormorantGaramond-Regular, Georgia, -apple-system, 'Segoe UI', Roboto, Helvetica;
    --general-font-size: 15px;
    --nb-font-size: 20px;
    --bg-color: #f0f0f0;

    --font-family-content: Metropolis-Regular, Karu-Regular, Arial, sans-serif;
    --font-family-nb: EBGaramond-regular, Georgia, -apple-system;

    --text: #333;
    --white: #fff;
    --ft-color: #f9f9f9;
    --ibr-green: #2B485A;
    
    --nav-bg-hover: #ddca92;
    --nav-bg-hover-text: #524a32;
    --nav-bg: #ddd;

    --primary-100: #C0DBF1;
    --primary-200: #75B8E2;
    --primary-300: #5B90B3;
    --primary-400: #426B85;
    --primary-500: #2B485A;
    --primary-600: #152733;
    --primary-700: #071219;

    --secundary-100: #F9EFEA;
    --secundary-200: #EED0C2;
    --secundary-300: #E2A077;
    --secundary-400: #B37D5B;
    --secundary-500: #855C42;
    --secundary-600: #5A3D2A;
    --secundary-700: #322015;

    --grey-100: #D5D8DA;
    --grey-200: #ACB1B4;
    --grey-300: #878B8E;
    --grey-400: #646769;
    --grey-500: #434546;
    --grey-600: #242626;
    --grey-700: #101111;
}

@font-face {
    font-family: EBGaramond-regular;
    src: 
    url("fonts/EBGaramond-Regular.woff2") format("woff2"),
    url("fonts/EBGaramond-Regular.ttf") format("truetype")
}

@font-face {
    font-family: EBGaramond-medium;
    src:
    url("fonts/EBGaramond-Medium.woff2") format("woff2"),
    url("fonts/EBGaramond-Medium.ttf") format("truetype")
}
@font-face {
    font-family: CormorantGaramond-Regular;
    src:
    url("fonts/CormorantGaramond-Regular.woff2") format("woff2"),
    url("fonts/CormorantGaramond-Regular.ttf") format("truetype")
}
@font-face {
    font-family: Karu-Regular;
    src:
    url("fonts/karu-regular.woff2") format("woff2"),
    url("fonts/karu-regular.ttf") format("truetype")
}
@font-face {
    font-family: Metropolis-Regular;
    src:
    url("fonts/Metropolis-Regular.woff2") format("woff2"),
    url("fonts/Metropolis-Regular.otf") format("truetype")
}