---
import BaseLayout from "@/layouts/BaseLayout.astro";
import NavBar from "@/components/NavBar.astro";
import { Image } from "astro:assets";
import logoIBR from "@/assets/Logo-IBR.jpg";
import "../styles/variables.css";
---

<style>

	.container-img-logo {
		width: 100%;
		display: flex;
		justify-content: center;
		padding: 50px;

		& .logo {
		border-radius: 20px;
	}
}

/* Estilo de contenido parrafos */
.section-content {
	display: flex;
	justify-content: center;
	width: 600px;
	margin: 0 auto;
	
	& .content-wrapper p {
		color: #545454;
		font-family: 'Arial', sans-serif;	
		font-size: 1.3rem;
	}
}

.map-ibr {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 50px;
	
	& .map-google {
		border-radius: 10px;
		&:hover {
			box-shadow: 0 0 10px 1px #545454;
		}
	}
}

</style>

<BaseLayout title="Iglesia Bautista Reformada" description="Esta es al descripción de mi página principal">
	<NavBar></NavBar>
	<div class="title-container">
		<h1>Iglesia Bautista Reformada</h1>
	</div>
	
	<div class="container-img-logo">
		<Image src={logoIBR} alt="Logo de la iglesia" class="logo"/>
	</div>
	
	<section class="section-content">
		<div class="content-wrapper">
			<p>La Iglesia Bautista Reformada es una iglesia cristiana que se basa en la enseñanza de la Biblia y la doctrina reformada. Su objetivo es glorificar a Dios y hacer discípulos de Jesucristo a través de la predicación del evangelio, la enseñanza de la Palabra de Dios y el servicio a la comunidad.</p>
			<p>La iglesia se caracteriza por su compromiso con la verdad bíblica, la adoración centrada en Dios y la vida comunitaria. Los miembros de la iglesia son alentados a crecer en su fe y a vivir de acuerdo con los principios bíblicos en todas las áreas de sus vidas.</p>
		</div>
	</section>

	<!-- Mapa de google -->
	<div id="ubicacion" class="map-ibr">
		<h2>Encuentranos en</h2>
		<p>Calle: León Sur #82. Colonia Centro, entre Abasolo y Mina</p>
		<iframe class="map-google" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d656.1911049989912!2d-104.89712492186342!3d21.508603561691103!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8427370062153127%3A0x73f0515d86f04ad7!2sIglesia%20Bautista%20Reformada!5e0!3m2!1ses-419!2smx!4v1748386541358!5m2!1ses-419!2smx" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
	</div>

</BaseLayout>