---
import BaseLayout from "@/layouts/BaseLayout.astro";
import NavBar from "@/components/NavBar.astro";
import { Image } from "astro:assets";
import bible from "@/assets/bible.webp";
import "../styles/variables.css";
---

<style>
	.slider-container {
		position: relative;
		
		& .container-img-bible {
			width: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
			padding-top: 90px;
			
			& .bible {
				width: 1000px;
				height: 400px;
				border-radius: 20px;
				object-fit: cover;
				object-position: center;
			}

			& .filter {
				position: absolute;
				width: 100%;
				max-width: 1000px;
				height: 400px;
				border-radius: 20px;
				margin: 20px;
				background: #33333396 ;
				z-index: 2; /* Asegura que el filtro esté por encima de la imagen */

			}

			& .title-slider {
				position: absolute;
				text-align: center;
				margin-top: -100px;
				color: #fff;
				z-index: 2; /* Asegura que el texto esté por encima del filtro */
				
				& p {
					font-size: 2rem;
					margin-bottom: 0;
				}

				& h1 {
					font-size: 48px;
				}
	
				& a {
					text-decoration: none;
					display: inline-block;
					margin-top: 20px;
					padding: 10px 20px;
					background-color: var(--primary-100);
					border: solid 1px var(--primary-100);
					color: #1b2b3a;
					font-weight: bold;
					border-radius: 5px;
					font-size: 1.2rem;
					transition: background-color 0.3s ease;
					
					&:hover {
						background-color: var(--ibr-green);
						color: #fff;
						border: solid 1px #fff;
					}
				}
			}
		}
	}


/* Estilo de contenido parrafos */
.section-content {
	display: flex;
	justify-content: center;
	max-width: 795px;
	margin: 0 auto;
	margin-top: 50px;
	padding: 10px;

	& .content-wrapper p {
		color: #545454;
		font-size: 1.3rem;
	}
}
h2 {
	font-size: 2rem;
}

.map-ibr {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 20px;
	margin-bottom: 50px;
	
	& .map-google {
		border-radius: 10px;
		width: 100%;
		min-width: none;
		max-width: 1000px;
		height: 400px;
		
		&:hover {
			box-shadow: 0 0 10px 1px #545454;
		}
	}
}

@media screen and (max-width: 990px) {
	body {
		font-size: 14px;
	}
	.title-slider h1 {
		font-size: 60px;
	}
	.title-slider p {
		font-size: 30px;
	}
}

</style>

<BaseLayout title="Iglesia Bautista Reformada" description="Esta es al descripción de mi página principal">
	<NavBar></NavBar>
	
	<!-- Slider -->
	<div class="slider-container">
		<div class="container-img-bible">
			<Image src={bible} alt="Imagen de la Biblia" class="bible" width={1000} height={400}/> 
			<!-- Filter -->
			<div class="filter"></div>
			<!-- Título del slider -->
			<div class="title-slider">
				<p>Bienvenido a la</p>
				<h1>Iglesia Bautista Reformada</h1>
				<a href="/ibr-web/nosotros" class="button">Explorar más</a>
			</div>
		</div>
	</div>
	
	<section class="section-content">
		<div class="content-wrapper">
			<h2>Comprometidos con la verdad biblica</h2>
			<p>La Iglesia Bautista Reformada es una iglesia cristiana que se basa en la enseñanza de la Biblia y la doctrina reformada. Su objetivo es glorificar a Dios y hacer discípulos de Jesucristo a través de la predicación del evangelio, la enseñanza de la Palabra de Dios y el servicio a la comunidad.</p>
			<p>La iglesia se caracteriza por su compromiso con la verdad bíblica, la adoración centrada en Dios y la vida comunitaria. Los miembros de la iglesia son alentados a crecer en su fe y a vivir de acuerdo con los principios bíblicos en todas las áreas de sus vidas.</p>
		</div>
	</section>

	<!-- Mapa de google -->
	<div id="ubicacion" class="map-ibr">
		<h2>Encuentranos en</h2>
		<p>Calle: León Sur #82. Colonia Centro, entre Abasolo y Mina</p>
		<iframe title="Localización Iglesia Bautista Reformada" class="map-google" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d656.1911049989912!2d-104.89712492186342!3d21.508603561691103!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8427370062153127%3A0x73f0515d86f04ad7!2sIglesia%20Bautista%20Reformada!5e0!3m2!1ses-419!2smx!4v1748386541358!5m2!1ses-419!2smx" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
	</div>

</BaseLayout>