---
import BaseLayout from "@/layouts/BaseLayout.astro";
import NavBar from "@/components/NavBar.astro";
---

<style>

</style>

<BaseLayout title="Iglesia Bautista Reformada" description="Esta es al descripci칩n de mi p치gina principal">
	<NavBar/>
	<div class="title-container">
		<h1>Titulo de pagina principal</h1>
	</div>
	<p>Esplicaci칩n del contenido de esta p치gina</p>
	
	//TODO: agregar mapa

	<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In, repudiandae? Architecto suscipit assumenda ducimus maiores? Fugiat pariatur illo voluptatem temporibus, fugit alias vel, nostrum nesciunt nemo quaerat officia molestias accusamus!</p>
	<p>Dolore rem officiis totam dicta, earum, quibusdam laudantium magni, id ratione repudiandae fuga at recusandae? Sapiente tempora dignissimos corrupti praesentium rem aliquid eius illum eum adipisci, debitis tenetur delectus repellat!</p>
	<p>Necessitatibus rerum ab omnis voluptas reprehenderit nobis beatae! Maxime perspiciatis illo necessitatibus repudiandae tempore nobis possimus aliquam corporis amet repellendus exercitationem veniam omnis ullam quo, odio quidem eligendi obcaecati! Temporibus?</p>
	<p>Dignissimos magnam adipisci harum voluptatem? Odio autem qui corporis harum iste quidem error impedit aliquam? Laborum aspernatur amet rem, sint magnam sunt. Facere incidunt accusantium natus accusamus distinctio non dignissimos?</p>
	<p>Iusto repudiandae, molestias delectus iste esse unde quo deserunt? Nisi ratione eius fugit consequatur impedit placeat beatae, illum repellendus deserunt laudantium nulla reiciendis, quia facilis repellat magni voluptates praesentium sequi?</p>

	<h1 id="ubicacion">Encuentranos en:</h1>
	
</BaseLayout>