---
---

<style>
    footer {
        background: var(--nav-bg);
    }
</style>

<footer>

    <div class="social-follow">
        <h4>Sigenos en:</h4>
        <a href="https://www.facebook.com/IBRTN/?locale=es_LA" target="_blank"></a>
        <a href="https://www.youtube.com/@IglesiaBautistaReformada-d1y" target="_blank"></a>
        <a href="https://www.instagram.com/ibr_tepic/" target="_blank"></a>
    </div>

    <div class="contant-area">
        <h4>Contacto</h4>
        <p>Iglesia Bautista Reformada</p>
        <p>Calle: León Sur #82</p>
        <p>Colonia Centro</p>
        <p>Entre Abasolo y Mina</p>
        <a href="iglesiaibrtepic@gmail.com">iglesiaibrtepic@gmail.com</a>
    </div>

    <div class="footer-copy">
        <p>&copy; 2025 Iglesia Bautista Reformada</p>
        <p>Todos los derechos reservados.</p>
    </div>

</footer>