---
import ButtonDropdown from "@/components/ButtonDropdown.astro";

// 
const menuItemsNosotros = [ 
  { label: 'Historia', href: '/' },
  { label: 'Misión', href: '/about' },
  { label: 'Visión', href: '/contact' },
  { label: 'Credo', href: '/contact' }
];
const menuItemsEscuelaDominical = [ 
  { label: 'Recursos', href: '/' },
  { label: 'Articulos', href: '/about' }
];
---

<style>
    .top-bar {
        position: fixed;
        margin-top: 0;
        width: 100%;
        height: 65px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--nav-bg);
        color: #000;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        font-size: 1.2em;
        font-weight: bold;
    }
    .icon-nav {
        flex: 1;

        & a {
            color: #dbcea8;
            font-weight: bold;
            text-decoration: none;
            margin-left: 50px;   
            padding: 0 20px;
            border-radius: 5px;
            font-size: 2em;
            background: var(--ibr-green);

            &:hover {
                text-shadow: 0 0 6px var(--nav-bg-hover);
            }
        }
    }
    .list-menu {
        position: absolute;
        display: flex;
        gap: 50px;
    }
    .list-menu a {
        color: #000;
        padding: 10px 20px;
        text-decoration: none;
        border-radius: 5px;

        &:hover {
            background: var(--nav-bg-hover);
            border-radius: 5px;
            color: var(--nav-bg-hover-text);
        } 
    }
</style>

<nav class="top-bar">
    <!-- TODO icon nav var -->
    <div class="icon-nav" >
        <a class="icon-ibr" href="/">IBR</a>
    </div>

    <div class="list-menu">
        <ButtonDropdown title="Nosotros" items={menuItemsNosotros}></ButtonDropdown> 
        <a href="/servicios/">Servicios</a>
        <ButtonDropdown title="Escuela Dominical" items={menuItemsEscuelaDominical}></ButtonDropdown> 
        <a href="/#ubicacion">Ubicación</a> <!-- TODO dar nuevo link -->
    </div>

</nav>