---
import BaseLayout from "@/layouts/BaseLayout.astro";
import NavBar from "@/components/NavBar.astro";
---

<BaseLayout title="IBR Escuela Dominical" description="Esta es al descripci칩n de la p치gina escuela dominical">
    <NavBar></NavBar>
    <div class="title-container">
        <h1>Escuela Dominical</h1>
    </div>
    <p>Esplicaci칩n del contenido de esta p치gina</p>
</BaseLayout>