---
import BaseLayout from "@/layouts/BaseLayout.astro";
import NavBar from "@/components/NavBar.astro";

import { Image } from 'astro:assets';
import CfbIMG from "@/assets/cbf1689.png"
---

<BaseLayout title="IBR Escuela Dominical" description="Esta es al descripción de la página escuela dominical">
    <NavBar></NavBar>
    <div class="title-container">
        <h1>Escuela Dominical</h1>
    </div>

    <Image class="img-cbf" src={CfbIMG} alt="Confesión Bautista de Fe de 1689" />

</BaseLayout>