---
import BaseLayout from "@/layouts/BaseLayout.astro";
import NavBar from "@/components/NavBar.astro";

import { Image } from 'astro:assets';
import CfbIMG from "@/assets/cbf1689.png"
---

<style>

    .cbf-wrapper {
        margin: 60px;
        margin-top: 20px;   
        display: flex;
        justify-content: center;
        align-items: start;

        & .img-cbf {
            height: 600px;
            width: auto;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }
    }

    .section-content {
        display: flex;
        justify-content: center;
        width: 600px;
        margin-left: 50px;

        & .content-wrapper p {
            color: var(--text);
            font-size: 1.3rem;
        }

    }

    .download-btn {
        text-decoration: none;
        display: inline-block;
        margin-top: 20px;
        padding: 10px 20px;
        border: solid 2px var(--ibr-green);
        border-radius: 5px;
        font-weight: bold; 
        background-color: #e7e6df;
        color: var(--ibr-green);
        -webkit-transition: ease-out 0.4s;
        -moz-transition: ease-out 0.4s;
        transition: ease-out 0.4s;

        &:hover {
            box-shadow: inset 0 0 0 50px var(--ibr-green);
            color: var(--white);
        }
    }

</style>

<BaseLayout title="IBR Escuela Dominical" description="Esta es al descripción de la página escuela dominical">
    <NavBar></NavBar>
    <div class="title-container">
        <h1>Escuela Dominical</h1>
    </div>

    <div class="cbf-wrapper">
        <Image class="img-cbf" src={CfbIMG} alt="Confesión Bautista de Fe de 1689" />

        <section class="section-content">
            <div class="content-wrapper">
                <h2>Confesión Bautista de Fe de 1689</h2>
                <p>
                    La Confesión de Fe Bautista de 1689, también conocida como la Segunda Confesión Bautista de Londres, 
                    es una declaración doctrinal escrita por pastores bautistas reformados en Inglaterra. Su propósito era mostrar que 
                    compartían muchas creencias fundamentales con otras iglesias protestantes reformadas, especialmente los presbiterianos 
                    y congregacionalistas, pero con diferencias clave, especialmente en cuanto al bautismo.
                </p>
                <a class="download-btn" href="/public/Download/CBFL1689.pdf" download>Descarga el PDF</a>
            </div>
        </section>
    </div>

</BaseLayout>