---
const { title, description } = Astro.props;
import "../styles/reset.css";
import "../styles/variables.css";
import Footer from "../components/Footer.astro";
import BtnScrollTop from "@/components/BtnScrollTop.astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content={description}>
		<title>{title}</title>
	</head>
	<body>
		<slot/>
		<Footer/>
		<BtnScrollTop/>
	</body>
</html>

<style is:global>
	/* Base styles for the site */
		
	body {
		font-family: var(--general-font-family);
		font-size: var(--general-font-size);
		color: var(--text);
		background-color: var(--bg-color);
	}
	p {
		margin-block: 1lh;
		font-family: var(--font-family-content);
	}
	/* Estilo de todos lo titulos de cada página */
	.title-container {
		display: flex;
		justify-content: center;
		background: var(--astro-background-color);
		padding: 0 0 50px;
		font-size: var(--general-font-size);

		& h1 {
			margin-top: 100px;
		}
	}

</style>